.item{
    /*开启弹性盒*/
    display: flex;
    margin: 16px ;
    padding: 6px;
    background-color: #FCBF49;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);

    position: relative;
    z-index: 1;
}
.content{
    flex: auto;
    text-align: center;
    font-weight: bold;
}
.desc{
    font-size: 16px;
    color: #194B49;
}

.time{
    color: #D62828;
}
.delete{
    margin-right: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.delete:hover{
    color: #D62828;
    transform:rotate(1turn);
}
